<h2>Lista de Usu치rios</h2>
<hr>

{{#each usuarios}}
	<div class="card mt-4">
		<div class="card-body">
			<h4>Nome: {{nome}}</h4>
			<small>E-mail: {{email}}</small>
			<div class="container text-center mt-2">
				<div class="row justify-content-center">
					<div class="col">
						<a href="/admin/usuarios/edit/{{_id}}">
							<button class="btn btn-success">Editar Usu치rio</button>
						</a>
					</div>
					<div class="col">
						<form action="/admin/usuarios/delete" method="POST">
							<input type="hidden" name="id" value="{{_id}}">
							<button type="submit" class="btn btn-danger">Deletar Usu치rio</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{{else}}
	<h4 class="mt-4">Nenhum usu치rio registrado!</h4>
{{/each}}