<h2>{{categoria.nome}}</h2>

{{#each postagens}}
	<div class="card mt-4">
		<div class="card-body">
			<h4>{{titulo}}</h4>
			<p>Descrição: {{descricao}}</p>
			<a href="/postagem/{{slug}}">
				<button class="btn btn-success">Leia Mais</button>
			</a>
			<hr>
			<small>Data de criação: {{date}}</small>
		</div>
	</div>
{{else}}
	<h4 class="mt-4">Nenhuma postagem publicada dessa categoria!</h4>
{{/each}}